# Brazilian E-Commerce Case Data Processing

## Setup

In [ ]:
!pip install pandasql

Requirement already satisfied: pandasql in /usr/local/lib/python3.11/dist-packages (0.7.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.11/dist-packages (from pandasql) (2.0.2)
Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (from pandasql) (2.2.2)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.11/dist-packages (from pandasql) (2.0.41)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas->pandasql) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas->pandasql) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas->pandasql) (2025.2)
Requirement already satisfied: greenlet>=1 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy->pandasql) (3.2.2)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy->pandasql) (4.14.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas->pandasql) (1.17.0)

In [ ]:
import pandas as pd
from pandasql import sqldf

setup data

In [ ]:
df_olist_customers_dataset = pd.read_csv("https://raw.githubusercontent.com/naufalhilmi12345/dataCode/refs/heads/master/Data%20Analysis/Brazilian%20E-Commerce%20Case/olist_customers_dataset.csv")
df_olist_geolocation_dataset = pd.read_csv("https://raw.githubusercontent.com/naufalhilmi12345/dataCode/refs/heads/master/Data%20Analysis/Brazilian%20E-Commerce%20Case/olist_geolocation_dataset.csv")
df_olist_order_items_dataset = pd.read_csv("https://raw.githubusercontent.com/naufalhilmi12345/dataCode/refs/heads/master/Data%20Analysis/Brazilian%20E-Commerce%20Case/olist_order_items_dataset.csv")
df_olist_order_payments_dataset = pd.read_csv("https://raw.githubusercontent.com/naufalhilmi12345/dataCode/refs/heads/master/Data%20Analysis/Brazilian%20E-Commerce%20Case/olist_order_payments_dataset.csv")
df_olist_order_reviews_dataset = pd.read_csv("https://raw.githubusercontent.com/naufalhilmi12345/dataCode/refs/heads/master/Data%20Analysis/Brazilian%20E-Commerce%20Case/olist_order_reviews_dataset.csv")
df_olist_orders_dataset = pd.read_csv("https://raw.githubusercontent.com/naufalhilmi12345/dataCode/refs/heads/master/Data%20Analysis/Brazilian%20E-Commerce%20Case/olist_orders_dataset.csv")
df_olist_products_dataset = pd.read_csv("https://raw.githubusercontent.com/naufalhilmi12345/dataCode/refs/heads/master/Data%20Analysis/Brazilian%20E-Commerce%20Case/olist_products_dataset.csv")
df_olist_sellers_dataset = pd.read_csv("https://raw.githubusercontent.com/naufalhilmi12345/dataCode/refs/heads/master/Data%20Analysis/Brazilian%20E-Commerce%20Case/olist_sellers_dataset.csv")
df_product_category_name_translation = pd.read_csv("https://raw.githubusercontent.com/naufalhilmi12345/dataCode/refs/heads/master/Data%20Analysis/Brazilian%20E-Commerce%20Case/product_category_name_translation.csv")

## Data Preview

In [ ]:
print("df_olist_customers_dataset")
df_olist_customers_dataset.info()
print("\ndf_olist_geolocation_dataset")
df_olist_geolocation_dataset.info()
print("\ndf_olist_order_items_dataset")
df_olist_order_items_dataset.info()
print("\ndf_olist_order_payments_dataset")
df_olist_order_payments_dataset.info()
print("\ndf_olist_order_reviews_dataset")
df_olist_order_reviews_dataset.info()
print("\ndf_olist_orders_dataset")
df_olist_orders_dataset.info()
print("\ndf_olist_products_dataset")
df_olist_products_dataset.info()
print("\ndf_olist_sellers_dataset")
df_olist_sellers_dataset.info()
print("\ndf_product_category_name_translation")
df_product_category_name_translation.info()

df_olist_customers_dataset
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB

df_olist_geolocation_dataset
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000163 entries, 0 to 1000162
Data columns (total 5 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   geolocation_zip_code_prefix  1000163 non-null  int64
 1   geolocation_lat              1000163 non-null  float64
 2   geolocation_lng              1000163 non-null  float64
 3   geolocation_city             1000163 non-null  object
 4   geolocation_state            1000163 non-null  object
dtypes: float64(2), int64(1), object(2)
memory usage: 38.2+ MB

df_olist_order_items_dataset
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  object
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 6.0+ MB

df_olist_order_payments_dataset
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103886 entries, 0 to 103885
Data columns (total 5 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   order_id              103886 non-null  object
 1   payment_sequential    103886 non-null  int64
 2   payment_type          103886 non-null  object
 3   payment_installments  103886 non-null  int64
 4   payment_value         103886 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 4.0+ MB

df_olist_order_reviews_dataset
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99224 entries, 0 to 99223
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   review_id                99224 non-null  object
 1   order_id                 99224 non-null  object
 2   review_score             99224 non-null  int64
 3   review_comment_title     11568 non-null  object
 4   review_comment_message   40977 non-null  object
 5   review_creation_date     99224 non-null  object
 6   review_answer_timestamp  99224 non-null  object
dtypes: int64(1), object(6)
memory usage: 5.3+ MB

df_olist_orders_dataset
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
dtypes: object(8)
memory usage: 6.1+ MB

df_olist_products_dataset
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  32951 non-null  object
 1   product_category_name       32341 non-null  object
 2   product_name_lenght         32341 non-null  float64
 3   product_description_lenght  32341 non-null  float64
 4   product_photos_qty          32341 non-null  float64
 5   product_weight_g            32949 non-null  float64
 6   product_length_cm           32949 non-null  float64
 7   product_height_cm           32949 non-null  float64
 8   product_width_cm            32949 non-null  float64
dtypes: float64(7), object(2)
memory usage: 2.3+ MB

df_olist_sellers_dataset
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3095 entries, 0 to 3094
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   seller_id               3095 non-null   object
 1   seller_zip_code_prefix  3095 non-null   int64
 2   seller_city             3095 non-null   object
 3   seller_state            3095 non-null   object
dtypes: int64(1), object(3)
memory usage: 96.8+ KB

df_product_category_name_translation
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71 entries, 0 to 70
Data columns (total 2 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   product_category_name          71 non-null     object
 1   product_category_name_english  71 non-null     object
dtypes: object(2)
memory usage: 1.2+ KB

## Make Flat Table

In [ ]:
df_flat_transaction = sqldf('''
  SELECT
    df_olist_order_items_dataset.order_id
    , df_olist_order_items_dataset.order_item_id
    , DATE(df_olist_order_items_dataset.shipping_limit_date) AS shipping_limit_date
    , df_olist_order_items_dataset.price
    , df_olist_order_items_dataset.freight_value
    , df_olist_orders_dataset.order_status
    , DATE(df_olist_orders_dataset.order_purchase_timestamp) AS order_purchase_date
    , strftime('%Y', df_olist_orders_dataset.order_purchase_timestamp)||'-'||strftime('%m', df_olist_orders_dataset.order_purchase_timestamp)||'-01' AS order_purchase_month
    , strftime('%Y', df_olist_orders_dataset.order_purchase_timestamp)||'-01-01' AS order_purchase_year
    , DATE(df_olist_orders_dataset.order_approved_at) AS order_approved_date
    , DATE(df_olist_orders_dataset.order_delivered_carrier_date) AS order_delivered_carrier_date
    , DATE(df_olist_orders_dataset.order_delivered_customer_date) AS order_delivered_customer_date
    , DATE(df_olist_orders_dataset.order_estimated_delivery_date) AS order_estimated_delivery_date
    , df_olist_products_dataset.product_category_name
    , df_olist_products_dataset.product_name_lenght
    , df_olist_products_dataset.product_description_lenght
    , df_olist_products_dataset.product_photos_qty
    , df_olist_products_dataset.product_weight_g
    , df_olist_products_dataset.product_length_cm
    , df_olist_products_dataset.product_height_cm
    , df_olist_products_dataset.product_width_cm
    , df_olist_order_payments_dataset.payment_sequential
    , df_olist_order_payments_dataset.payment_type
    , df_olist_order_payments_dataset.payment_installments
    , df_olist_order_payments_dataset.payment_value
    , df_olist_order_reviews_dataset.review_score
    , df_olist_order_reviews_dataset.review_comment_title
    , df_olist_order_reviews_dataset.review_comment_message
    , DATE(df_olist_order_reviews_dataset.review_creation_date) AS review_creation_date
    , DATE(df_olist_order_reviews_dataset.review_answer_timestamp) AS review_answer_date
    , df_olist_customers_dataset.customer_unique_id
    , df_olist_customers_dataset.customer_city
    , df_olist_customers_dataset.customer_state
    , df_olist_sellers_dataset.seller_city
    , df_olist_sellers_dataset.seller_state
  FROM df_olist_order_items_dataset
  LEFT JOIN df_olist_orders_dataset
    ON df_olist_order_items_dataset.order_id = df_olist_orders_dataset.order_id
  LEFT JOIN df_olist_customers_dataset
    ON df_olist_orders_dataset.customer_id = df_olist_customers_dataset.customer_id
  LEFT JOIN df_olist_products_dataset
    ON df_olist_order_items_dataset.product_id = df_olist_products_dataset.product_id
  LEFT JOIN df_olist_sellers_dataset
    ON df_olist_order_items_dataset.seller_id = df_olist_sellers_dataset.seller_id
  LEFT JOIN df_olist_order_payments_dataset
    ON df_olist_order_items_dataset.order_id = df_olist_order_payments_dataset.order_id
  LEFT JOIN df_olist_order_reviews_dataset
    ON df_olist_order_items_dataset.order_id = df_olist_order_reviews_dataset.order_id
''')

In [ ]:
df_flat_transaction.to_excel('flat_transaction.xlsx', index=False)